@font-face {
    font-family: 'JBLames';
    src:url('/fonts/JBLames.ttf.woff') format('woff'),
        url('/fonts/') format('svg'),
        url('/fonts/JBLames.ttf.eot'),
        url('/fonts/JBLames.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}


.maincontainer {
    display: block;
    margin: auto;
    width: 90%;
    text-align: center;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
}
.cookie{
    
    font-size: 24px;
    color:black;
}

.getFortune {
    font-size:20px;
}

.cookieimg {
    width: 100%;
}
.fortune {
    font-family: 'JBLames', 'Courier New', Courier, monospace;
    font-size: 20px;
    color:red;
    position: absolute;
    width: 60%;
    top: 42%;
    left: 33%;
    /* so the text breaks on length AND ON \r\n characters */
    white-space: pre-line;  


}