@font-face {
    font-family: 'JBLames';
    src:url('/fonts/JBLames.ttf.woff') format('woff'),
        url('/fonts/') format('svg'),
        url('/fonts/JBLames.ttf.eot'),
        url('/fonts/JBLames.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}


.maincontainer {
    display: block;
    margin: auto;
    width: 80%;
    text-align: center;
    align-items: flex-start;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
}
.cookie{
    font-family: 'JBLames';
    font-size: 24px;
    color:red;
}

.getFortune {
    font-size:20px;
}